.glavna_slika {
   display: block;
   width: 100%;
   height: auto;
}

.stil1 {
   background-color: grey;
   color: white;
}

#stil2 {
    color:blue;
    font-size: 50px;
    text-align: center;
}

.stil3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:200px;
    height:200px;
}

.stil4 {
    text-align: center;
    text-decoration: underline;
}

#mala_slika {
    width:60px;
    height:60px;
}

a:link, a:visited {
  background-color: #00abd2;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #0000ff;
}

.gumb {
     background-color: #00d5fa;
     border: inset;
     padding: 5px 20px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 12px;
}

.container {
    position: relative;
    width: 50%;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.tekst {
     white-space: nowrap;
     color: white;
     font-size: 20px;
     position: absolute;
     overflow: hidden;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
}




