/* Moj CSS */


body {
    background-color: #b8b894;
    color: white;
    font-family: 'Yusei Magic', sans-serif;
}

h1  {
    text-align: center;
}

.container {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

.nav {
    margin: 20px;
}

a.linkovi:link {
    text-decoration: none;
}

a.linkovi:hover {
     font-size: 150%;
}

a.stil:hover {
    font-size: 150%;
}

.tekst {
    background-color: #b8b894;
    width: 300px;
    border: 15px solid;
    padding: 45px;
    margin: 20px;
}

.slika {
    width: 300px;
    border: 15px solid;
    padding: 25px;
    margin: 20px;
}

.con2 {
    display: flex;
    align-content: center;
}

.ikona {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    float: left;
}