<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSS zadaca-vjezba google</title>
    <link rel="stylesheet" href="/static/css/boogle.css">
</head>
<body>
    <div class="prvi">
        <a href="#" class="linkovi">Gmail</a>
        <a href="#" class="linkovi">Slike</a>
        <img src="/static/img/boogle/M.png" alt="slovo" class="slovo">
    </div>

    <div class="img">
        <img src="/static/img/boogle/google.png" alt="logo" class="slika">
    </div>

    <div class="input">
        <input type="text" class="navigacija">
    </div>

    <div class="gumb_div">
        <button class="gumb_stil">Google pretraživanje</button>
        <button class="gumb_stil">Prati me sreća</button>
    </div>

    <div class="zadnji1">
        <a href="#" class="linkovi">Oglašavanje</a>
        <a href="#" class="linkovi">Tvrtka</a>
        <a href="#" class="linkovi">O nama</a>
        <a href="#" class="linkovi">Kako funkcionira Pretraživanje</a>

        <div class="zadnji2">
            <a href="#" class="linkovi">Privatnost</a>
            <a href="#" class="linkovi">Uvijeti</a>
            <a href="#" class="linkovi">Postavke</a>

        </div>
    </div>

</body>
</html>