<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>zadaca2-fakebook</title>
    <link rel="stylesheet" href="/static/css/fakebook.css">
</head>
<body class="stil1">

    <a href="/">Home</a>
    <a href="/portfolio/fakebook/profil">Profil</a>

    <h1 id="stil2">
        <img src="/static/img/fakebook/book.png" alt="knjiga" id="mala_slika">
        FAKEBOOK
    </h1>

    <p><input type="text" placeholder="Misao dana"></p>

    <h3><i>Novosti</i></h3>
    <br>

    <p class="stil4">Panda</p>
    <img src="/static/img/fakebook/slika1.jpg" alt="prvaslika" class="stil3">
    <br> <br>

    <p class="stil4">Cvijeće</p>
    <img src="/static/img/fakebook/slika2.jpg" alt="drugaslika" class="stil3">


</body>
</html>