<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My homepage</title>
    <!-- Bootstram CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- Moj CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">

</head>
<body>

    <div class="container">
        <h1>My homepage</h1>

        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link stil" href="/about">About me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link stil" href="/portfolio">Portfolio</a>
          </li>
        </ul>

        <div class="tekst pora">
            Moje ime je Mia i ovo je moja Web aplikacija u kojoj možete pogledati nešto
            <a class="linkovi" href="/about">o meni</a> i neke od mojih <a class="linkovi" href="/portfolio">radova</a>.
        </div>




    </div>


    <!-- Bootstram JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>
</html>