<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>zadaca-profil</title>
    <link rel="stylesheet" href="/static/css/fakebook.css">
</head>
<body class="stil1">

    <a href="/">Home</a>
    <a href="/portfolio/fakebook">Naslovna</a>

    <br> <br>

    <div class="container">
        <img src="/static/img/fakebook/profilna.png" alt="profilna" class="glavna_slika">
        <div class="overlay">
            <div class="tekst">Mia Stanić</div>
        </div>
    </div>

    <br>
    <button class="gumb">Add a friend</button>
    <br><br>

    <p><b>City: </b> <i>Osijek</i></p>
    <p><b>Age: </b> <i>20+</i></p>
    <p><b>Education: </b> <i>FOI</i></p>
    <p><b>Hobby: </b> <i>Eating</i></p>


</body>
</html>